<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">

	{% if debug %}
	<script src="{{ STATIC_URL }}components/modernizr/modernizr.js"></script>
	{% else %}
	<script src="{{ STATIC_URL }}js/modernizr.js"></script>
	{% endif %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/tracker.css">
</head>
<body>
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->


			<div class="row row--full-width">
				<div class="large-12 columns">

					<nav class="top-bar" data-topbar>
						<ul class="title-area">

							<li class="name">
								<h1>
									<a href="{% url "my-tickets" %}">
										Tracker
									</a>
								</h1>
							</li>
							<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
						</ul>

						<section class="top-bar-section">
							<ul class="left">
								<li>
									<a href="{% url "project-list" %}">All projects</a>
								</li>
								<li>
									<a href="{% url "project-create" %}">Create project</a>
								</li>
							</ul>
							<ul class="right">
								{% if user.is_authenticated %}
								<li class="has-dropdown">
									<a href="#">{{ user.email }}</a>
									<ul class="dropdown">
										<li><a href="{{ logout_url }}">Sign out</a></li>
									</ul>
								</li>
								{% else %}
								<li>
									<a href="{% url "djangae_login_redirect" %}">Sign in</a>
								</li>
								{% endif %}
							</ul>
						</section>
					</nav>

				</div>
			</div>

			<div class="row content">
				<div class="large-12">
				{% block content %}{% endblock %}
				</div>
			</div>

			<footer class="row row--full-width">
				<div class="large-12 columns">
					<hr>
					<div class="row">
						<div class="columns">
							<small>© 2015 Potato London Ltd</small>
						</div>
					</div>
				</div>
			</footer>

			{% if debug %}
			<script src="{{ STATIC_URL }}components/jquery/dist/jquery.min.js"></script>
			<script src="{{ STATIC_URL }}components/fastclick/lib/fastclick.js"></script>
			<script src="{{ STATIC_URL }}components/foundation/js/foundation.min.js"></script>
			<script src="{{ STATIC_URL }}components/chosen/chosen.jquery.js"></script>
			<script src="{{ STATIC_URL }}js/app.js"></script>
			{% else %}
			<script src="{{ STATIC_URL }}js/app.built.js"></script>
			{% endif %}
		</body>
		</html>
