{% extends "base.html" %}

{% block content %}
<div class="large-12 large-centered columns">
	<div class="row">
		<h2>{{ project.title }} <small><a href="{% url "project-update" project_id=project.pk %}">edit</a></small></h2>
	</div>
	<div class="row">
		<table>
			<thead>
				<tr>
					<th width="1200">Title</th>
					<th width="1200">Assigned</th>
					<th colspan="2"></th>
				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
				<tr>
					<td>{{ ticket.title }}</td>
					<td>
					{% for user in ticket.assignees.all %}
						{{ user.email }}{% if not forloop.last %},{% endif %}
					{% empty %}
						<em>No assigned users</em>
					{% endfor %}
					</td>
					<td>
						<a href="{% url "ticket-update" project_id=project.pk ticket_id=ticket.pk %}">
							<i class="fi-pencil"></i>
						</a>
					</td>
					<td>
						<a href="{% url "ticket-delete" project_id=project.pk ticket_id=ticket.pk %}">
							<i class="fi-trash"></i>
						</a>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="4">
						<em>No tickets have been created for this project</em>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<p><a href="{% url "ticket-create" project_id=project.pk %}" class="button">Create ticket</a></p>
	</div>
</div>
{% endblock %}
