{% extends "base.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
<div class="large-12 large-centered columns">
    <div class="row">
        <h2>Delete {{ ticket.title }}</h2>
    </div>
    <div class="row">
        <section>{{ ticket.description }}</section>
        <hr>
    </div>
    <div class="row">
        <p>Are you sure you want to delete this ticket?</p>
        <p>
            <a href="{% url "project-detail" project_id=current_project.pk %}" class="button">Cancel</a>
            <button type="submit" class="button alert">Delete</button>
        </p>
    </div>
</div>
{% endblock %}
